.header {
    position: relative;
    background-image: url('~@/assets/img/index/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
}
.side-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    z-index: 9999;
    background: #2C2C2C;
    .side-content {
        padding: 0 40px;
        min-height: calc(100vh - 31.875rem);
        position: relative;
        li {
            margin: 60px 0;
            a {
                font-size: $font-xl;
                line-height: 26px;
                text-decoration: none;
            }
        }
        h4 {
            position: absolute;
            right: 44px;
            top: 0;
            color: #202020;
            font-size: 240px;
            line-height: 240px;
            font-weight: bold;
            margin-bottom: 0;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: -50px;
                left: 16px;
                width: 130px;
                height: 20px;
                background-color: #202020;
            }
        }
    }
}
.close-side {
    height: 220px;
}
.side-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 229px;
    padding: 0 40px;
    background-color: #000;
    .side-footer-content {
        margin-bottom: 0;
        padding-bottom: 30px;
        li {
            color: #fff;
            font-size: $font-sm;
            line-height: 26px;
            margin: 5px 0;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    ul:nth-child(2) {
        li {
            width: 16px;
            height: 16px;
            margin-right: 35px;
        }
    }
}
h1 {
    max-width: 31px;
    width: 100%;
    text-align: center;
    border-top: 4px solid #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    a {
        font-size: $font-xl * 2;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
}
.nav {
    display: flex;
    align-items: center;
    .nav-block {
        a {
            color: #fff;
            text-decoration: none;
            padding-left: 60px;
            font-size: $font-lg;
        }
    }
}
.nav-pc {
    @media(max-width: 576px) {
        display: none;
    }
}
.burger-transparent {
    width: 95px;
}
.burger-close {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    i {
        display: block;
        width: 20px;
        height: 2px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        &:after, &:before {
            left: -5px;
            width: 30px;
            transition: all .2s ease-in-out;
        }
        &:after {
            margin-top: -12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 12px;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(-45deg);
        }
        &:before {
            margin-top: 12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: -12px;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
        }
    }
    &.active {
        i {
            background-color: #fff;
            &:after {
                transform: rotate(0deg); 
            }
            &:before {
                transform: rotate(0deg); 
            }
        }
    }
}
.burger {
    position: relative;
    background: #000000;
    z-index: 9999;
    width: 95px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 0 !important;
    z-index: 99999;
    i {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        &:after, &:before {
            transition: all .2s ease-in-out;
        }
        &:after {
            margin-top: -12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before {
            margin-top: 12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.active {
        background-color: #2C2C2C;
        i {
            background: transparent;
            &:before, &:after {
                left: -5px;
                width: 30px;
            }
            &:before {
                transform: rotate(45deg);
                top: -12px;
            }
            &:after {
                transform: rotate(-45deg);
                top: 12px;
            }
        }
    }
}
.light-burger {
    background-color: #fff;
    z-index: 9999;
    transition: all .1s ease-in-out;
    i {
        background-color: #000;
        &:after, &:before {
            background: #000;
        }
    }
    &.active {
        background-color: #2C2C2C;
        i {
            background: transparent;
            &:before, &:after {
                left: -5px;
                width: 30px;
                background-color: #fff;
            }
            &:before {
                transform: rotate(45deg);
                top: -12px;
            }
            &:after {
                transform: rotate(-45deg);
                top: 12px;
            }
        }
    }
}
.banner-content {
    min-height: 663px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 64px;
        @media(max-width: 576px) {
            font-size: $font-xl;
            line-height: 28px;
        }
        @media(max-width: 425px) {
            padding: 0 24px;
            font-size: $font-lg;
        }
    }
    .sub-title {
        font-size: $font-md;
        line-height: 26px;
        margin: 28px 0px;
        @media(max-width: 576px) {
            padding: 0 60px;
        }
        @media(max-width: 425px) {
            font-size: $font-sm;
        }
    }
    .copy-right {
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin: 0;
        font-size: $font-sm;
        line-height: 26px;
    }
}
.scroll {
    position: relative;
    margin-top: -84px;
    font-size: $font-sm;
    &:after {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 1px;
        height: 60px;
        background-color: #fff;
    }
}
.social-btn-group {
    position: absolute;
    bottom: 0;
    ul {
        li {
            width: 20px;
            height: 20px;
            line-height: 20px;
            padding-right: 66px;
            @media(max-width: 375px) {
                padding-right: 30px;
            }
        }
    }
    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.works {
    .col-12 {
        min-height: 388px;
    }
    .col-12:first-child {
        margin-top: -30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(2) {
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(3) {
        margin-top: 30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
}
.works-title {
    margin: 97px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
}
.works {
    .card-top {
        min-height: 180px;
        margin-bottom: 25px;
        p {
            font-weight: 500;
            font-size: $font-xl + 12px;
            line-height: 42px;
            position: relative;
        }
    }
    .card-body {
        span {
            position: relative;
            &:after {
                display: block;
                position: absolute;
                top: -22px;
                left: 0;
                content: '';
                width: 20px;
                height: 3px;
                background-color: #000;
            }
        }
    }
}
.product {
    margin-bottom: 150px;
    .col-12:first-child {
        margin-top: -30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(2) {
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(3) {
        margin-top: 30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .product-card {
        border: 1px solid #F8F8F8;
    }
    .card-top {
        min-height: 360px;
        padding-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .card-body {
        padding: 0 20px;
        .product-content {
            font-weight: 500;
            font-size: 20px;
            line-height: $font-xl;
        }
        .product-sub-content {
            font-size: $font-md;
            line-height: 26px;
        }
    }
    .product-btn {
        background-color: #000;
        color: #fff;
        outline: none;
        border: none;
        transition: all .2s ease;
        padding: 7px 14px;
        margin-bottom: 20px;
        border-radius: 2px;
        &:hover {
            background-color: rgb(36, 36, 36);
        }
    }
    .product-des {
        h5 {
            color: #9B9B9B;
            font-size: $font-sm;
            line-height: 26px;
            margin-bottom: 0;
        }
        span {
            font-size: $font-sm;
            line-height: 26px;
        }
    }
}
.more {
    margin-bottom: 138px;
    h2 {
        color: #4A4A4A;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    p {
        position: relative;
        height: 137px;
        margin-bottom: 20px;
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background-color: #4A4A4A;
            width: 1px;
            height: 137px;
        }
    }
    button {
        border-radius: 2px;
        border: 1px solid #000000;
        background-color: #fff;
        max-width: 250px;
        padding: 17px 71px;
        font-size: 20px;
        line-height: 24px;
    }
}