.header {
    position: relative;
    background-image: url('~@/assets/img/index/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
}
.side-backdrop {
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background:rgba(207, 207, 207, 0.5);
}
.side-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    z-index: 9999;
    background: #2C2C2C;
    .side-content {
        padding: 0 40px;
        min-height: calc(100vh - 31.875rem);
        position: relative;
        li {
            margin: 60px 0;
            a {
                font-size: $font-xl;
                line-height: 26px;
                text-decoration: none;
                position: relative;
                &:before, &:after {
                    position: absolute;
                    opacity: 0;
                    color: #fff;
                    top: -1px;
                    transition: all .5s;
                }
                &:before {
                    content: "[";
                    left: -5px;
                }
                &:after {
                    content: "]";
                    right: -5px;
                }
                &:hover {
                    &:before, &:after {
                        opacity: 0.7;
                        z-index: 10000;
                    }
                    &:before {
                        left: -15px;
                    }
                    &:after {
                        right: -15px;
                    }
                }
            }
        }
        h4 {
            position: absolute;
            right: 44px;
            top: 0;
            color: #202020;
            font-size: 240px;
            line-height: 240px;
            font-weight: bold;
            margin-bottom: 0;
            z-index: -1;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: -50px;
                left: 16px;
                width: 130px;
                height: 20px;
                background-color: #202020;
            }
        }
    }
    @media(max-width: 375px) {
        width: 335px;
    }
    @media(max-width: 320px) {
        width: 300px;
    }
}
.close-side {
    height: 220px;
}
.side-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 229px;
    padding: 0 40px;
    background-color: #000;
    .side-footer-content {
        margin-bottom: 0;
        padding-bottom: 30px;
        li {
            color: #fff;
            font-size: $font-sm;
            line-height: 26px;
            margin: 5px 0;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    ul:nth-child(2) {
        li {
            width: 16px;
            height: 16px;
            margin-right: 35px;
        }
    }
}
h1 {
    max-width: 31px;
    width: 100%;
    text-align: center;
    border-top: 4px solid #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    a {
        font-size: $font-xl * 2;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease;
        &:hover {
            color: rgb(219, 219, 219);
            border-top: rgb(219, 219, 219);
        }
    }
}
.nav {
    display: flex;
    align-items: center;
    .nav-block {
        ul {
            margin-bottom: 0;
            li {
                a {
                    padding: 15px;
                    color: #fff;
                    text-decoration: none;
                    font-size: $font-lg;
                }
            }
        }
    }
}
.nav-pc {
    position: relative;
    transition: all .6s ease-in-out;
    &:after {
        position: absolute;
        transition: all .6s;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }
    &:hover{
        color: #999999 !important;
        &:after {
            width: 100%;
        }
    }
    @media(max-width: 576px) {
        display: none;
    }
}
.burger-transparent {
    width: 95px;
}
.burger-close {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    i {
        display: block;
        width: 20px;
        height: 2px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        &:after, &:before {
            left: -5px;
            width: 30px;
            transition: all .2s ease-in-out;
        }
        &:after {
            margin-top: -12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 12px;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(-45deg);
        }
        &:before {
            margin-top: 12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: -12px;
            left: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(45deg);
        }
    }
    &.active {
        i {
            background-color: #fff;
            &:after {
                transform: rotate(0deg); 
            }
            &:before {
                transform: rotate(0deg); 
            }
        }
    }
}
.burger {
    position: relative;
    background: #000000;
    z-index: 9999;
    width: 95px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 0 !important;
    z-index: 99999;
    i {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        &:after, &:before {
            transition: all .2s ease-in-out;
        }
        &:after {
            margin-top: -12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before {
            margin-top: 12px;
            content: '';
            position: absolute;
            height: 2px;
            background: #fff;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.active {
        background-color: #2C2C2C;
        i {
            background: transparent;
            &:before, &:after {
                left: -5px;
                width: 30px;
            }
            &:before {
                transform: rotate(45deg);
                top: -12px;
            }
            &:after {
                transform: rotate(-45deg);
                top: 12px;
            }
        }
    }
}
.light-burger {
    background-color: #fff;
    z-index: 9999;
    transition: all .1s ease-in-out;
    i {
        background-color: #000;
        &:after, &:before {
            background: #000;
        }
    }
    &.active {
        background-color: #2C2C2C;
        i {
            background: transparent;
            &:before, &:after {
                left: -5px;
                width: 30px;
                background-color: #fff;
            }
            &:before {
                transform: rotate(45deg);
                top: -12px;
            }
            &:after {
                transform: rotate(-45deg);
                top: 12px;
            }
        }
    }
}
.banner-content {
    min-height: 663px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 64px;
        @media(max-width: 768px) {
            font-size: 40px;
            line-height: 44px;
        }
        @media(max-width: 576px) {
            font-size: $font-xl;
            line-height: 28px;
        }
        @media(max-width: 425px) {
            padding: 0 24px;
            font-size: $font-lg;
        }
    }
    .sub-title {
        font-size: $font-md;
        line-height: 26px;
        margin: 28px 0px;
        @media(max-width: 576px) {
            padding: 0 60px;
        }
        @media(max-width: 425px) {
            font-size: $font-sm;
        }
    }
    .copy-right {
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin: 0;
        font-size: $font-sm;
        line-height: 26px;
    }
}
.anim-typewriter {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-2 {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: typewriter 8s steps(44) 4s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
        border-right: 0;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }
    to {
        border-right-color: transparent;
    }
}
.scroll {
    position: relative;
    margin-top: -84px;
    font-size: $font-sm;
    cursor: pointer;
    &:after {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 1px;
        height: 60px;
        background-color: #fff;
    }
    &:hover {
        &:after {
            -webkit-animation: sdb05 1.5s infinite;
            animation: sdb05 1.5s infinite;
        }
    }
}
@keyframes sdb05 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}
.social-btn-group {
    position: absolute;
    bottom: 0;
    ul {
        li {
            cursor: pointer;
            width: 20px;
            height: 20px;
            line-height: 20px;
            padding-right: 66px;
            transition: all .3s ease;
            @media(max-width: 375px) {
                padding-right: 30px;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.works {
    .col-12 {
        min-height: 388px;
    }
    .col-12:first-child {
        margin-top: -30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(2) {
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(3) {
        margin-top: 30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
}
.works-title {
    margin: 97px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
}
.works {
    .card-top {
        min-height: 180px;
        margin-bottom: 25px;
        p {
            font-weight: 500;
            font-size: $font-xl + 12px;
            line-height: 42px;
            position: relative;
        }
    }
    .card-body {
        span {
            position: relative;
            &:after {
                display: block;
                position: absolute;
                top: -22px;
                left: 0;
                content: '';
                width: 20px;
                height: 3px;
                background-color: #000;
            }
        }
    }
}
.product {
    margin-bottom: 150px;
    .col-12:first-child {
        margin-top: -30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(2) {
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .col-12:nth-child(3) {
        margin-top: 30px;
        @media(max-width: 576px) {
            margin: 0 0 20px 0;
        }
    }
    .product-card {
        border: 1px solid #F8F8F8;
    }
    .card-top {
        min-height: 360px;
        padding-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .card-body {
        padding: 0 20px;
        .product-content {
            font-weight: 500;
            font-size: 20px;
            line-height: $font-xl;
        }
        .product-sub-content {
            font-size: $font-md;
            line-height: 26px;
        }
    }
    .product-btn {
        background-color: #000;
        color: #fff;
        outline: none;
        border: none;
        transition: all .2s ease;
        padding: 7px 14px;
        margin-bottom: 20px;
        border-radius: 2px;
        &:hover {
            background-color: rgb(36, 36, 36);
        }
    }
    .product-des {
        h5 {
            color: #9B9B9B;
            font-size: $font-sm;
            line-height: 26px;
            margin-bottom: 0;
        }
        span {
            font-size: $font-sm;
            line-height: 26px;
        }
    }
}
.more {
    margin-bottom: 138px;
    h2 {
        color: #4A4A4A;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    p {
        position: relative;
        height: 137px;
        margin-bottom: 20px;
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background-color: #4A4A4A;
            width: 1px;
            height: 137px;
        }
    }
}
.look-more {
    position: relative;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: #fff;
    max-width: 250px;
    min-width: 250px;
    min-height: 60px;
    padding: 17px 71px;
    font-size: 20px;
    line-height: 24px;
    &:before {
        position: absolute;
        max-width: 250px;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: rgb(28, 31, 30);
        transition: 0.3s ease-out;
    }
    span {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
    }
    &:hover {
        span {
            transition: 0.2s;
            color: #fff;
        }
        &:before {
            height: 100%;
        }
    }
}