.single-header {
    background-image: url('~@/assets/img/single/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
}
.h100 {
    height: 100px;
}
.single-h1 {
    box-shadow: none;
    border-top: 4px solid #000;
}
.single-award {
    padding: 95px 0 45px 0;
    margin-bottom: 77px;
    h2 {
        position: relative;
        font-weight: 500;
        font-size: $font-xl * 2;
        line-height: 55px;
        z-index: 2;
        &:after {
            position: absolute;
            left: 0;
            bottom: -20px;
            display: block;
            content: '';
            height: 2px;
            width: 280px;
            background: #000;
        }
        @media(max-width: 767px) {
            font-size: 36px;
            line-height: 43px;
        }
    }
    h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #323739;
        margin-bottom: 30px;
    }
    h5 {
        color: #9B9B9B;
        font-size: $font-sm;
        line-height: 26px;
        position: relative;
        &:after {
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
            content: '';
            background: #000;
            height: 2px;
            width: 23px;
        }
    }
    p {
        font-size: $font-sm;
        line-height: 26px;
        margin-bottom: 0;
    }
    .row {
        .col-6:first-child {
            margin-bottom: 35px;
        }
        .col-6:nth-child(2) {
            margin-bottom: 35px;
        }
    }
}
.b-text {
    position: absolute;
    left: -60px;
    bottom: 15px;
    font-size: 260px;
    line-height: 300px;
    font-weight: bold;
    margin-bottom: 0;
    color: #e0e0e0;
    &:after {
        position: absolute;
        display: block;
        content: '';
        background: #e0e0e0;
        width: 120px;
        height: 15px;
        top: -40px;
        left: 20px;
        @media(max-width: 767px) {
            top: 10px;
        }
    }
    @media(max-width: 1024px) {
        left: 0;
    }
    @media(max-width: 767px) {
        bottom: 0;
        top: 0;
    }
}
.award-first {
    @media(max-width: 767px) {
        margin-bottom: 35px;
    }
}
.single-intro {
    margin-bottom: 120px;
    .col-md-7 {
        h5 {
            color: #9B9B9B;
            font-size: $font-sm;
            line-height: 26px;
        }
        p {
            font-size: $font-sm;
            line-height: 26px;
        }
    }
    .col-md-5 {
        img {
            max-width: 500px;
            width: 100%;
        }
    }
}
.statue {
    @media(max-width: 767px) {
        padding-bottom: 45px;
    }
}
.single-fish {
    margin-bottom: 120px;
    .row {
        position: relative;
        &::before {
            position: absolute;
            display: block;
            right: -45px;
            bottom: -2px;
            content: '';
            width: 215px;
            height: 1px;
            background-color: #979797;
            transform: rotate(-45deg);
            z-index: 4;
            @media(max-width: 767px) {
                right: 0;
                width: 90px;
            }
        }
    }
    .col-lg-5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .fish-content {
            background-color: #fff;
            margin-left: -250px;
            z-index: 3;
            padding: 86px 0 0 50px;
            @media(max-width: 768px) {
                margin-left: 0;
                padding: 45px 0 0 0;
            }
            p {
                position: relative;
                &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    height: 2px;
                    width: 23px;
                    background-color: #000;
                    top: -12px;
                    left: 0;
                }
            }
        }
    }
}
.fish {
    width: 100%;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 90px;
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.single-more {
    margin-bottom: 150px;
    p {
        position: relative;
        height: 137px;
        margin-bottom: 20px;
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background-color: #4A4A4A;
            width: 1px;
            height: 137px;
        }
    }
}
.page-btn-group {
    border: 1px solid #2C2C2C;
    border-right: none;
    .next-btn {
        background-color: #2C2C2C;
        a {
            color: #fff;
            text-decoration: none;
            padding-right: 80px;
            @media(max-width: 576px) {
                padding-right: 40px;
            }
        }
    }
    .prev-btn {
        border-right: 1px solid #2c2c2c;
        a {
            color: #2c2c2c;
            text-decoration: none;
            padding-left: 80px;
            @media(max-width: 576px) {
                padding-left: 40px;
            }
        }
    }
    .next-btn, .prev-btn {
        padding: 40px 0;
        a {
            font-size: 20px;
            line-height: 24px;
        }
        @media(max-width: 767px) {
            padding: 20px 0;
        }
    }

}